@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

* {
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  margin: 0;
  overflow: hidden;
  background: #ffd6e8;
}

.title {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  color: #ff4f9a;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  text-align: center;
}

.unlock-hint {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.7;
}

.page {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  transition: top 0.5s ease;
  padding: 20px;
}

.page.active {
  top: 0;
}

#home {
  background: #ffc1dc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#password, #menu {
  background: #ffeaf4;
}

h1, h2 {
  color: #ff4f9a;
}

.hint {
  margin-top: 20px;
  opacity: 0.7;
}

.back-btn {
  background: none;
  border: none;
  font-size: 24px;
  color: #ff4f9a;
}

.pattern {
  display: grid;
  grid-template-columns: repeat(3, 20px);
  gap: 10svh;
  justify-content: center;
  margin-top: 40px;
  overflow: hidden;
}

#pattern-wrapper {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

#lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#password-hint {
    text-align: center;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #ff9ac7;
}

.dot.active {
  background: #ff4f9a;
  transform: scale(1.15);
}

.pattern.error .dot {
  animation: shake 0.3s;
  background: #ff6b6b;
}

#pattern-wrapper.error {
  animation: shake 0.3s;
}

#pattern-wrapper.error .dot {
  background: #ff6b6b;
}

.pattern.success .dot {
  background: #6bffb3;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 60px;
}

.menu-box {
  height: 120px;
  background: #fff;
  border-radius: 20px;
}
